Samples/AdvancedSample/AdvancedSample/Web References/localhost/UpdateService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://tempuri.org/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CheckForUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clientVersion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckForUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="updateAvailable" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="updateUrl" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="CheckForUpdateSoapIn">
    <part name="parameters" element="s0:CheckForUpdate" />
  </message>
  <message name="CheckForUpdateSoapOut">
    <part name="parameters" element="s0:CheckForUpdateResponse" />
  </message>
  <portType name="UpdateServiceSoap">
    <operation name="CheckForUpdate">
      <input message="s0:CheckForUpdateSoapIn" />
      <output message="s0:CheckForUpdateSoapOut" />
    </operation>
  </portType>
  <portType name="UpdateServiceHttpGet" />
  <portType name="UpdateServiceHttpPost" />
  <binding name="UpdateServiceSoap" type="s0:UpdateServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="CheckForUpdate">
      <soap:operation soapAction="http://tempuri.org/CheckForUpdate" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="UpdateServiceHttpGet" type="s0:UpdateServiceHttpGet">
    <http:binding verb="GET" />
  </binding>
  <binding name="UpdateServiceHttpPost" type="s0:UpdateServiceHttpPost">
    <http:binding verb="POST" />
  </binding>
  <service name="UpdateService">
    <port name="UpdateServiceSoap" binding="s0:UpdateServiceSoap">
      <soap:address location="http://localhost/advancedsample_webservice/UpdateService.asmx" />
    </port>
    <port name="UpdateServiceHttpGet" binding="s0:UpdateServiceHttpGet">
      <http:address location="http://localhost/advancedsample_webservice/UpdateService.asmx" />
    </port>
    <port name="UpdateServiceHttpPost" binding="s0:UpdateServiceHttpPost">
      <http:address location="http://localhost/advancedsample_webservice/UpdateService.asmx" />
    </port>
  </service>
</definitions>